/*
General CSS for the demos of DHTMLSuite
*/
body{
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:0.8em;
	background-color: cadetblue;
    background-image:url("sakura.gif");
    background-repeat: no-repeat;
	background-size:100%;
}

a{
	color:red;
	text-decoration:underline;
}
td {
	box-shadow: 5px 0px 10px mediumaquamarine;
}